@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bilbo+Swash+Caps&family=Jim+Nightshade&display=swap');

body {
  background-repeat: no-repeat, repeat;
  font-family: 'Beau Rivage', cursive;
  font-family: 'Bilbo Swash Caps', cursive;
  font-family: 'Jim Nightshade', cursive;
}

.content {
  margin: auto;
  width: 70%;
  background: rgb(131, 2, 73);
  text-align: center;
  border-radius: 50px;
}

.section {
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transform: skewY(-2deg);
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.63);
}

.section.a {
  background-image: url('Images/Taj-Mahal-Agra-India.jpg');
}

.section.b {
  background-image: url('Images/Great-Wall-of-China-Beijing.jpg');
  background-color: rgba(2, 187, 11, 0.336);
}

.section.c {
  background-image: url('Images/El-Castillo-pyramid-plaza-Toltec-state-Yucatan.jpg');
  background-color: rgba(102, 38, 0, 0.699);
}

.section.d {
  background-image: url('Images/Khaznah-Petra-Jordan.jpg');
  background-color: rgba(238, 88, 1, 0.548);
}

.section.e {
  background-image: url('Images/Machu-Picchu.jpg');
  background-color: rgba(60, 63, 60, 0.61);
}

.section.f {
  background-image: url('Images/statue-Christ-the-Redeemer-Rio-de-Janeiro.jpg');
  background-color: rgba(255, 255, 255, 0.568);
}

.section.g {
  background-image: url('Images/Colosseum-Rome-Italy.jpg');
  background-color: rgba(245, 200, 0, 0.712);
}

#heading {
  font-family: 'Jim Nightshade', cursive;
  color: beige;
  height: 400px;
  font-size: 80px;
  padding: 10px;
  padding-top: 100px;
}

#h, #h2, #h3, #h4, #h5, #h6, #h7 {
  font-family: 'Bilbo Swash Caps', cursive;
  position: relative;
  font-size: 5rem;
  line-height: 0.9;
  text-align: center;
  transform: skewY(2deg);
}

#p, #p2, #p3, #p4, #p5, #p6, #p7 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  font-size: 1rem;
  font-weight: 800;
  line-height: 2;
  padding: 2rem;
  text-align: center;
  transform: skewY(2deg);
}

.thank {
  height: 300px;
  place-content: center;
  padding: 20px;
  color: #ffffff;
  font-size: 2rem;
}
